<main>
    <h1>Create a New Post</h1>
  <div class="row">
    <form class="col s12" id="blogpost-form">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="titleText" class="materialize-textarea"></textarea>
          <label for="titleText">Enter Title</label>
        </div>
        <div class="input-field col s12">
          <textarea id="articleText" class="materialize-textarea"></textarea>
          <label for="articleText">start writing...</label>
      </div>
      <a id="createPostBtn"class="waves-effect waves-light btn">publish post</a>
    </form>
  </div>
  <br>

  {{#if blogPosts.length}}
  <section>

    <h1>Your Posts</h1>
 
<ul>
{{#each blogPosts as |blogpost|}} <li>
{{> blogpost-details}}
</li>
<br>

{{/each}}

</ul>
 </section>
  {{/if}}
  </main>

  <script src="/js/add-post.js"></script>