<div class="row">
  <form class="col s12">
    <h2>Login</h2>
    <div class="row">
      <div class="input-field col s6">
        <input id="email-login" type="text" class="validate" />
        <label for="email-login">Email</label>
      </div>
      <div class="input-field col s6">
        <input id="password-login" type="text" class="validate" />
        <label for="password-login">Password</label>
      </div>
      <a class="waves-effect waves-light btn">Login</a>
    </div>
  </form>
</div>

<div class="row">
  <form class="col s12">
    <h2>Signup</h2>
    <div class="row">
      <div class="input-field col s6">
        <input id="username-signup" type="text" class="validate" />
        <label for="username-signup">Username</label>
      </div>
      <div class="input-field col s6">
        <input id="email-signup" type="text" class="validate" />
        <label for="email-signup">Email</label>
      </div>
      <div class="input-field col s6">
        <input id="password-signup" type="text" class="validate" />
        <label for="password-signup">Password</label>
      </div>
      <a class="waves-effect waves-light btn">signup</a>
    </div>
  </form>
</div>

<script src="../public/js/login.js"></script>