<main>
    <h1>Edit Post</h1>
  <div class="row">
    <form class="col s12" id="blogpost-form">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="titleText" class="materialize-textarea"></textarea>
          <label for="titleText">Enter Title</label>
        </div>
        <div class="input-field col s12">
          <textarea id="articleText" class="materialize-textarea"></textarea>
          <label for="articleText">start writing...</label>
      </div>
    </form>
  </div>