* {
  font-family: "Crimson Text", serif;
}

body {
  background: url(./portfolio-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}
.sidenav {
  background-color: #ebeef9;
}
